* {box-sizing: border-box;}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.wrapper > * { /* all children of the wrapper div */
    /* border: 1px solid orange; */
    padding: 10px;
}

body {
    background: #222222;
    color: #FFFFFF;
    font-size: 25px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FF005C;
}

/* selected link */
a:active {
    color: #FF005C;
}

p {
    font-family: source-serif-4, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.3em;
}

h1 {
    /* headers */
    font-family: source-serif-4, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1em;
}

nav a {
    font-family: source-serif-4, serif;
    font-weight: 600;
    font-style: italic;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    height: 1pt;
    color: white;
    padding: 0;
}

.header {
    grid-area: header;
    margin-bottom: 3em;
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
}

@media (min-width: 490px) { /* 490 and larger */
    .wrapper {
        gap: 20px;
    }

    h1 {
        line-height: 0em;
    }

    nav ul {
        display:flex;
        justify-content: space-between;
    }
}

@media (min-width: 780px) { /* 780 and larger */
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header header"
            "nav content"
            "footer footer";
    }

    nav ul {
        flex-direction: column;
        padding-top: 1em;
    }
}